<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Novo Usuário</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="/usuario.css">
</head>
<body>
  <%- include('header'); %>

  <main class="container">
    <form method="post" enctype="multipart/form-data">
      <h1>Novo Usuário</h1>
      <label for="nome">Nome:</label>
      <input type="text" name="txtNome" id="nome" placeholder="Nome" />
      <label for="email">E-mail:</label>
      <input type="email" name="txtEmail" id="email" placeholder="E-mail" />
      <label for="senha">Senha:</label>
      <input type="password" name="txtSenha" id="senha" placeholder="Senha" />
      <label for="foto">Foto:</label>
      <input type="file" name="txtFoto" id="foto" />
      <button type="submit" class="btn">Adicionar</button>
    </form>
  </main>
</body>
</html>
