<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de usuário</title>
  <link rel="stylesheet" href="add-user.css">
</head>
<body>
  <main class="container">
    <form method="post">
      <label for="nome">Nome:</label>
      <input type="text" name="txtNome" id="nome" placeholder="Nome" />
      <label for="email">E-mail:</label>
      <input type="email" name="txtEmail" id="email" placeholder="E-mail" />
      <label for="senha">Senha:</label>
      <input type="password" name="txtSenha" id="senha" placeholder="Senha" />
      <label for="foto">Foto:</label>
      <input type="file" name="txtFoto" id="foto" />
      <button type="submit">Adicionar</button>
    </form>
  </main>
</body>
</html>
