<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <header>
      <a href="/">
        <i class="fas fa-robot logo"></i>
        <h1>Sistema Web | Node.js | EJS | MongoDB</h1>
      </a>
      <ul class="actions">
        <li>
          <a href="/users/add">
            <i class="fas fa-plus"></i>
            <span>Adicionar</span>
          </a>
        </li>
        <li>
          <a href="/users">
            <i class="fas fa-user-friends"></i>
            <span>Usuários</span>
          </a>
        </li>
      </ul>
  </header>
</body>
</html>
