main.container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

main form {
  max-width: 600px;
  display: flex;
  flex-direction: column;

}

label {
  padding-top: 8px;
}


button {
  margin-top: 12px;
}
