:root {
  --verde-escuro: #7b9ca4;
  --bg-color-1: #f5f5f5;
  --bg-color-2: #ebf3f5;
  --text-color: rgb(85,85,85);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(var(--bg-color-1), var(--bg-color-2));
}

header {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  max-height: 80px;
}

header ul, header a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

span {
  color: rgb(85,85,85);
}

header a {
  color: rgb(20,20,20);
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  min-width: 800px;
  padding: 1rem 2rem;
  height: calc(100vh - 80px);
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

header h1 {
  font-size: 22px;
  font-weight: lighter;
}

h1 {
  font-size: 28px;
}

h1.title {
  margin-bottom: 1rem;
}

a i {
  color: var(--verde-escuro);
}

.logo {
  font-size: 28px;
  margin-right: 8px;
}

.foto {
  max-width: 100px;
  max-height: 100px;
}

ul {
  list-style-type: none;
}
