* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(rgb(245,245,245),rgb(235,243,245));
}

header {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  max-height: 80px;
}

header ul, header a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

span {
  color: rgb(85,85,85);
}

header a {
  color: rgb(20,20,20);
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  min-width: 800px;
  padding: 1rem 2rem;
  height: calc(100vh - 80px);
}

.container table {
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

header h1 {
  font-size: 22px;
  font-weight: lighter;
}

h1 {
  font-size: 28px;
}

table, td, th {
  border: 1px solid #ababab;
  border-collapse: collapse;
}

th {
  background-color: #e3d5ca;
}

th {
  font-weight: bold;
  padding: 6px;
}

td, th {
  padding: 6px;
}

table tr:nth-child(odd) {
  background-color: #FFFDFA;
}

table tr:nth-child(even) {
  background-color: #FFF7ED;
}

table td:last-child,
table td:nth-last-child(2) {
  text-align: center;
}

a i {
  color: rgb(123,156,164);
}

.logo {
  font-size: 28px;
  margin-right: 8px;
}

.foto {
  max-width: 100px;
  max-height: 100px;
}

ul {
  list-style-type: none;
}
