.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

label {
  padding-top: 8px;
}

button {
  margin-top: 12px;
}
